[project]
	description = Jahia's LDAP provider module
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cedric Mailleux (cedmail)
[access "refs/for/refs/*"]
	read = group user/Cedric Mailleux (cedmail)
	push = group user/Cedric Mailleux (cedmail)
	label-Code-Review = -2..+2 group user/Cedric Mailleux (cedmail)
	label-Verified = -1..+1 group user/Cedric Mailleux (cedmail)
	rebase = group user/Cedric Mailleux (cedmail)
	removeReviewer = group user/Cedric Mailleux (cedmail)
	submit = group user/Cedric Mailleux (cedmail)
[access "refs/heads/*"]
	read = group user/Cedric Mailleux (cedmail)
	create = group user/Cedric Mailleux (cedmail)
	push = +force group user/Cedric Mailleux (cedmail)
	pushMerge = group user/Cedric Mailleux (cedmail)
[access "refs/tags/*"]
	push = +force group user/Cedric Mailleux (cedmail)
	pushTag = group user/Cedric Mailleux (cedmail)
	pushSignedTag = group user/Cedric Mailleux (cedmail)
